# -------------------
# .NET (server)
# -------------------
server/**/bin/
server/**/obj/
server/build/

# -------------------
# React (client)
# -------------------
client/**/node_modules/
client/**/dist/
client/build/

# -------------------
# Python (scripts)
# -------------------
scripts/.venv/
scripts/output/*
!scripts/output/README.md

# -------------------
# Rider/VSCode (IDE)
# -------------------
.idea/
.vscode/