# Handle line endings consistently accross Windows terminal and WSL

* text=auto eol=lf

*.cs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf

*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.html text eol=lf
*.css text eol=lf

*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

*.sh text eol=lf

.gitattributes text eol=lf
.gitignore text eol=lf