# -------------------
# .NET (server)
# -------------------
server/**/bin
server/**/obj
server/build/

# -------------------
# React (client)
# -------------------
client/**/node_modules/
client/**/dist/
client/build

# -------------------
# Python (scripts)
# -------------------
scripts/.venv

# -------------------
# Rider/VSCode (IDE)
# -------------------
.idea
.vscode