.button {
  display: inline-block;
  padding: 10px 18px;
  margin: 8px;
  border-radius: 8px;
  border: none;
  background: #3ece51;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.simulation-page {
  display: flex;
  flex-direction: column; /* Stack buttons and canvas vertically */
  height: 85vh;
  padding: 4px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.button-row {
  display: flex;
  gap: 4px; /* Space between buttons */
  margin-bottom: 16px;
  justify-content: center;
}

.canvas-area {
  display: flex;
  gap: 60px; /* Space between canvas and slider */
  padding-bottom: 20px;
  justify-content: center;
  padding-left: 100px;
}

canvas {
  width: 1400px;
  height: 700px;
  display: block;
  background: #121212;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  height: 700px;
  justify-content: center;
}