.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.slider-box {
    position: relative;
    width: 10px;
    background: #464C5A;
    border-radius: 24px;
    touch-action: none;
    user-select: none;
}

.fill {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 10px;
    height: 10px;
    border-radius: 24px;
    background: #dedede;
}

.tooltip {
    position: absolute;
    left: 100%;
    transform: translate(8px, 50%);
    padding: 4px 8px;
    font-size: 12px;
    background: #222;
    border-radius: 4px;
    white-space: nowrap;
    pointer-events: none;
}

.handle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #dedede;
    cursor: grab;
}