.main-layout {
  display: flex;
  gap: 24px;
  max-width: 1000px;
  margin: 0 auto;
  align-items: flex-start;
}

.controls-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-column {
  flex: 1;
  position: sticky;
  top: 20px;
}

.seed-inline-group {
  display: flex;
  gap: 8px;
  max-width: 450px;
}

.seed-input {
  flex: 1;
  background: #1a1a1a;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  font-family: monospace;
}

.shuffle-btn {
  background-color: #5865f2;
  border-radius: 8px;
  border: 0;
}

.shuffle-btn:hover {
  background-color: #4b57d1;
}

.summary-card {
  background: #2a2a2a;
  border: 1px solid #5865f2;
  border-radius: 12px;
  padding-left: 24px;
  padding-right: 24px
}

.summary-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.summary-list li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #333;
  font-size: 1rem;
}

.input-group {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-group label {
  color: #a0a0a0;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group:last-child {
  margin-bottom: 0;
}

.upload-container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.file-dropzone {
  border: 2px dashed #464c5a;
  width: 400px;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.02);
}

.file-dropzone:hover {
  border-color: #5865f2;
  background: rgba(88, 101, 242, 0.05);
}

.hidden-input {
  display: none;
}

.upload-icon {
  font-size: 24px;
  display: block;
  margin-bottom: 8px;
}

.upload-content p {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}

.file-info p {
  color: #5865f2;
}

.file-info span {
  font-size: 0.8rem;
  color: #888;
}

.upload-hint {
  font-size: 0.75rem;
  color: #666;
  font-style: italic;
}